nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 40px;
    height: 30px;
    margin-left: 20px;
}

.icons {
    display: flex;
    
}

#avatar {
    border-radius: 50%;
}

.search {
    width: 500px;
    display: flex;
}

.search form {
    width: 100%;
}

#button {
    width: 50px;
}

#text {
    width: 70%;
}

fieldset input {
   height: 100%;
}

fieldset button img {
    height: 15px;
    margin: auto;
}

fieldset {
    border: none;
}

main {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 150px;
    background-color: #f9f9f9;
    margin-top: 20px;
    
}

main .left-side {
    width: 70%;
}

.video-content {
    width: 100%;
    height: 100%;
}
.video-content iframe {
    width: 100%;
    height: 100%;
}

.video-descriptions {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.video-descriptions div {
    width: 100%;
}

.video-descriptions img {
    margin-top: 15px;
}
.icons {
    justify-content: flex-end;
}

.video-options {
    width: 100%;
}

.icons p {
    margin-top: 25px;
}

.video-explanations div div {
    display: flex;
}

.video-explanations div {
    display: flex;
    justify-content: space-between;
    
}

.video-explanations {
    width: 100%;
}

.video-explanations button {
    background-color: red;
    color: white;
}

#Odin {
    margin-left: 15px;
    margin-top: 0px;
}

#last-avatar {
    height: 40px;
    border-radius: 50%;
}
.right-side > aside > div {
    display: flex;
}
.right-side > aside > div >div {
    margin-left: 15px;
}

.right-side img {
    width: 200px;
    height: 125px;
}

