body {
    background-color: beige;
}

.Navbar-container {
    display: table;
    width: 100%;
    background-color: gray;
    margin-top: -7px;
}
 
.Navbar-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.Navbar-container form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.Navbar-container form input {
    width: 350px;
    height: 25px;
}

.Navbar-images {
    float: right;
}

.Video-content iframe {
    margin-top: 25px;
    width: 100%;
    height: 700px;
    background-color: white;
}

.Video-content img {
    width: 50px;
    height: 50px;
}

.Video-content {
    width: 75%;
}

.Video-informations {
    display: flex;
}

.Video-informations #Explanations {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40px;
}

.Video-HowMany {
    margin-left: 400px;
    float: right;
    
}

.Video-HowMany h3 {
    float: right;  
}

.Video-options {
    display: flex;
    width: 20%;
    
}

.Video-options p {
    flex-grow: 1;
}
.right-side img{
    
    width: 250px;
    height: 125px;
    margin-left: 10px;
}
.right-side {
    display: relative;
    float:right; 
    background-color: white; 
}
    
.right-side div div {
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
    
}

.right-side div {
    margin-top: 20px;
    margin-right: 25px;
    
}

.Video-informations-container {
    background-color: white;
    display: flex;
}

#Explanations {
    display: flex;
    position:relative;
    height:100%;
}

#Explanations button, #Explanations p {
    flex-grow: 1;
    margin-left: 100px;  
}

#Explanations h4 {
    margin-left: 15px;
}

#Explanations button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background-color: red;
    color: white;
}

#Explanations p {
    position: absolute;
    left: 180px;
    top: 20%;
}

.Description p {
    width: 75%;
}




